.card-box{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 3rem;
  row-gap: 4rem;
 }

 .card-info{

   display: flex;
    flex-direction: column;
    align-items: center;
 }